<h1 id="%E4%B8%96%E7%95%8C%E6%A6%82%E5%86%B5">世界概况</h1>
<ul>
<li><a href="#%E4%B8%96%E7%95%8C%E6%A6%82%E5%86%B5">世界概况</a></li>
<li><a href="#%E6%8D%AE%E7%82%B9%E5%88%86%E5%B8%83%E6%A6%82%E8%BF%B0">据点分布概述</a>
<ul>
<li><a href="#%E7%A5%9E%E5%B7%9E%E6%A6%82%E5%86%B5">神州概况</a></li>
<li><a href="#%E6%97%A5%E9%9F%A9%E6%A6%82%E5%86%B5">日韩概况</a></li>
<li><a href="#%E4%B8%9C%E5%8D%97%E4%BA%9A%E6%A6%82%E5%86%B5">东南亚概况</a></li>
<li><a href="#%E4%B8%AD%E4%B8%9C%E6%A6%82%E5%86%B5">中东概况</a></li>
<li><a href="#%E6%AC%A7%E6%B4%B2%E6%A6%82%E5%86%B5">欧洲概况</a></li>
<li><a href="#%E7%BE%8E%E6%B4%B2%E6%A6%82%E5%86%B5">美洲概况</a></li>
<li><a href="#%E9%9D%9E%E6%B4%B2%E6%A6%82%E5%86%B5">非洲概况</a></li>
<li><a href="#%E5%A4%A7%E6%B4%8B%E6%B4%B2%E6%A6%82%E5%86%B5">大洋洲概况</a></li>
<li><a href="#%E5%8D%97%E6%9E%81%E6%B4%B2%E6%A6%82%E5%86%B5">南极洲概况</a></li>
</ul>
</li>
</ul>
<h1 id="%E6%8D%AE%E7%82%B9%E5%88%86%E5%B8%83%E6%A6%82%E8%BF%B0">据点分布概述</h1>
<p>末世之后，仅存的人口朝着往日的大都会聚集，在大地上形成了星罗棋布的据点。<br>
<br>
这些据点在地理上并不相邻，仅存在贸易和信息上的交流。</p>
<h2 id="%E7%A5%9E%E5%B7%9E%E6%A6%82%E5%86%B5">神州概况</h2>
<p>根据第六次人口普查数据，我国城镇人口占四成，农村人口占六成。而第七次人口普查的时候这个数据出现了两极反转，城镇人口占六成，农村人口占四成。<br>
<br>
末日发生的2012年是城镇化极剧加速的时期，大量人口涌入城市，农村地区多是老人和儿童，对末日的抵御能力较差。<br>
<br>
在三四线城市会形成一些小型据点，但由于人口少，尤其是缺乏良好的教育和医疗条件，文明水平严重退化。在经过几代人以后，几乎退化成部落社会。<br>
<br>
在那些人口超过千万的省会城市，极具家长制的军事独裁很快建立起来，形成新秩序。<br>
<br>
而上海，我们的主角，情况就复杂得多。<br>
<br>
上海是一座拥有两千万常住人口的大都会，这是中世纪早期整个欧洲的人口数量。加上外来务工人员，人口规模甚至可以达到三千万。从市中心到外围的距离远远超过了城市规划的要求，即当前时代最快交通工具一小时的行程。<br>
<br>
上海很大，大到能装下很多个世界。<br>
<br>
来自不同地区，不同阶层，不同观念，不同诉求的人尽数聚集在上海，他们并没有像其他据点一样有一个军阀，他有许许多多的军阀，比战国时期的诸侯还要多。</p>
<h2 id="%E6%97%A5%E9%9F%A9%E6%A6%82%E5%86%B5">日韩概况</h2>
<p>除华夏以外的东亚地区，便是我们熟悉的日本和韩国。整个朝鲜半岛统共有七千万人口，相当于一个江苏省，其中五千万在末日前分布在南朝鲜。<br>
<br>
由于末日导致国家机器崩溃，三八线顷刻瓦解，大量人口涌入南方，最终聚集在汉城。驻韩美军无法返回国内，便定居下来，成为一方割据军阀。<br>
<br>
日本的情况稍许复杂，在末世前，东京湾便聚集了超过三千万的人口，是全国人口的六分之一，除此之外还有我们熟悉的大阪、长崎等大城市，总的来说这是一个城市化程度惊人的地方。<br>
<br>
日本对核电的依赖程度极高，在末世前便有百分之三十的电力供应来自核电站。这些核电站往往超年限运作，十分危险，它们在末日之后尽数爆炸，辐射将整个日本列岛上空染成漂亮的彩虹色。<br>
<br>
这里的精彩程度绝不亚于上海滩，然而这就是另一个故事了。</p>
<h2 id="%E4%B8%9C%E5%8D%97%E4%BA%9A%E6%A6%82%E5%86%B5">东南亚概况</h2>
<p>东南亚是人口相当密集的地方，也不乏像曼谷、西贡这样的大城市，作为跨国企业重要的代工厂，也有着不错的工业基础，在沿海的大城市形成一系列据点。<br>
<br>
印度的情况和东南亚十分相似，然而我们对印度的情况并不是很了解，想必玩家们也厌倦了p社对印度的格外关照，因为我们不会对印度地区做过多的文章。</p>
<h2 id="%E4%B8%AD%E4%B8%9C%E6%A6%82%E5%86%B5">中东概况</h2>
<p>说起中东，当代人的第一印象往往是宗教、石油和战争。然而这是末世后的世界，没有石油大亨和北约的军队。对他们来说，或许末世后的生活比起以往并不算太糟糕。</p>
<h2 id="%E6%AC%A7%E6%B4%B2%E6%A6%82%E5%86%B5">欧洲概况</h2>
<p>末世对欧洲的打击是灾难性的，在末世之初，过于稀疏的人口和工业体系的瘫痪几乎摧毁了欧洲文明。<br>
<br>
在人口相对密集的西欧存在着数个大规模据点，在东欧，除了莫斯科和圣彼得堡这一类大城市以外，便只剩下荒凉和肃杀了。</p>
<h2 id="%E7%BE%8E%E6%B4%B2%E6%A6%82%E5%86%B5">美洲概况</h2>
<p>以末世后的航海能力还不足以跨越大洋与美洲联系，我们完全不知道那里发生了什么。</p>
<h2 id="%E9%9D%9E%E6%B4%B2%E6%A6%82%E5%86%B5">非洲概况</h2>
<p>末世摧毁了一切现代文明，只剩下了原始部落。</p>
<h2 id="%E5%A4%A7%E6%B4%8B%E6%B4%B2%E6%A6%82%E5%86%B5">大洋洲概况</h2>
<p>大洋洲的人口太稀疏了，甚至还没有上海人多，悉尼和墨尔本都在南方，我无从知晓那里发生了什么。</p>
<h2 id="%E5%8D%97%E6%9E%81%E6%B4%B2%E6%A6%82%E5%86%B5">南极洲概况</h2>
<p>还有心思南极探险呢？</p>