<ul>
    <li><a href="#%E4%BB%80%E4%B9%88%E6%98%AF%E7%81%AF%E6%B5%B7">什么是灯海</a></li>
    <li><a href="#%E5%A6%82%E4%BD%95%E6%B7%BB%E5%8A%A0%E6%96%B0%E9%A1%B5%E9%9D%A2">如何添加新页面</a></li>
    <li><a href="#%E5%A6%82%E4%BD%95%E9%83%A8%E7%BD%B2">如何部署</a></li>
    </ul>
    <h1 id="%E4%BB%80%E4%B9%88%E6%98%AF%E7%81%AF%E6%B5%B7">什么是灯海</h1>
    <p><a href="">灯海</a>又名<a href="">上海滩之王</a>，是一个架空世界奇幻冒险系列。讲述了2012年世界末日之后上海滩的风云变幻。 <br>
    <s>你说得对，但上海滩之王是上海滩之王制作委员会自主研发的一款全新废土世界家族模拟角色扮演mod，在这里，割据一方的首领被称作军阀。你将扮演一名名为<a href="">Mr. Human</a>的神秘角色，在废土中邂逅性格各异，能力各异的同伴们，与他们一起开枝散叶，开疆拓土，光复往日的荣光——同时逐步发掘<a href="">深渊</a>的真相</s></p>
    <h1 id="%E5%A6%82%E4%BD%95%E6%B7%BB%E5%8A%A0%E6%96%B0%E9%A1%B5%E9%9D%A2">如何添加新页面</h1>
    <ol>
    <li>在<a href="templates/index.html">templates/index.html</a>中添加对应页面的菜单并写在链接中写入url相对路径。这不是一个前端教程，网上的前端教程成千上万，这里就不加赘述了，就算您不懂这其中的原理，照猫画虎也能做。</li>
    <li>制作正文部分
    <ol>
    <li>编辑md格式文本，当然如果您不习惯可以跳过这一步直接制作html页面。这是一个忠告，使用markdown编写百科页面可以节省您无数的时间，而且做出来还好看。</li>
    <li>你不需要手动输入目录，在vscode里面下载markdown all in one插件，按下<a href="">Ctrl</a>+<a href="">Shift</a>+<a href="">P</a>，然后键入<a href="">Create Table of Contents</a>就会自动根据标题生产目录。</li>
    <li>在vscode里面下载markdown converter插件，打开md文件，在右键菜单中选择<a href="">Markdown PDF:Export(html)</a>，就会在当前目录生成同名html文件。</li>
    <li>把同名html文件里面body部分除script以外的标签全部复制下来。在template里面对应的目录下新建空白html文档，把刚才复制的内容粘贴进去。</li>
    <li>在<a href="">httpservice.py</a>中添加路由，使得点击导航栏的菜单能够转跳到对应页面。</li>
    </ol>
    </li>
    <li>在页面内插入图片
    <ul>
    <li>这里要注意，img标签后面的url是相对路径，譬如说你的页面url链接是<a href="">/background/apocalypse</a>，虽然img里面的src属性写的是<a href="">logo.png</a>，但是实际上链接到的是apocalypse同级，也就是<a href="">/background/logo.png</a>。在<a href="">httpservice.py</a>中添加路径为<a href="">/background/logo.png</a>的路由，返回图片就可以了。</li>
    <li>你也可以将图片转换成base64字符串直接粘贴在html元素的属性里面，但不建议这样做，因为这会增加页面加载的时间。如果用上一种方法，用户可以先看到文字，后面等图片慢慢加载。除非你需要在多个不同的目录下使用同一张图片，譬如说页首的logo，这样的话就不需要给每个url目录单独写路由了。</li>
    </ul>
    </li>
    </ol>
    <h1 id="%E5%A6%82%E4%BD%95%E9%83%A8%E7%BD%B2">如何部署</h1>
    <ol>
    <li>docker方式 <br>
    把整个项目放到服务器上面，然后安装docker，执行<a href="">docker_build_and_run.sh</a>脚本</li>
    <li>非docker方式 <br>
    执行如下命令:<pre class="hljs"><code><div>gunicorn httpservice:app -c ./config.py
    </div></code></pre>
    </li>
    </ol>
    <blockquote>
    <p>什么是docker？简单来说就是一个独立的环境，当然它不是虚拟机。您不用管它是什么！把它交给会搞服务器部署的人，他自然晓得是什么意思。实在想知道的话，到网上随便查一下<a href="https://zhuanlan.zhihu.com/p/187505981">什么是docker</a>，就会有铺天盖地的文章和视频。</p>
    </blockquote>