<ul>
    <li><a href="#%E6%B7%B7%E6%B2%8C%E4%B8%AD%E7%9A%84%E5%AD%A4%E5%B2%9B">混沌中的孤岛</a></li>
    <li><a href="#%E5%86%9C%E4%B8%9A">农业</a></li>
    <li><a href="#%E7%BA%BA%E7%BB%87">纺织</a></li>
    <li><a href="#%E5%8C%96%E5%B7%A5">化工</a></li>
    <li><a href="#%E5%86%B6%E7%82%BC">冶炼</a></li>
    <li><a href="#%E6%9C%BA%E6%A2%B0">机械</a></li>
    <li><a href="#%E8%B4%B8%E6%98%93">贸易</a></li>
    </ul>
    <h1 id="%E6%B7%B7%E6%B2%8C%E4%B8%AD%E7%9A%84%E5%AD%A4%E5%B2%9B">混沌中的孤岛</h1>
    <p>审判日后的第一个黎明，曙光再一次照进灰暗的天空，这一次多数人永远地睡去了，清醒的人茫然地看着这个陌生的世界。尸潮和变异的怪兽在荒野游荡，曾经的沃野成为无法耕种的贫瘠之地。 <br>
    <br>
    油田燃起熊熊烈火，冲天的火焰持续了许多昼夜才得以平息。矿山在大地的震怒中坍塌，将开采设施和工人一同埋没。<br>
    <br>
    管道和交通线路陷入瘫痪，城市失去能源和原材料供应，工厂里的机器被迫停摆。<br>
    <br>
    城市中的幸存者据点不得不想办法自给自足，幸而旧世的余晖仍照耀着废土，不至于让人们的生活真正退回中世纪。</p>
    <h1 id="%E5%86%9C%E4%B8%9A">农业</h1>
    <p>末日改变了地球的环境，土壤、大气、河流、海洋，一切的一切都发生了翻天覆地的变化。二点五亿年前的温室效应曾造成了地球上多数物种灭绝，也成就了古鳄和后来的恐龙，我们哺乳类的祖先三尖叉齿兽在这场浩劫中幸免于难。 <br>
    <br>
    万幸的是，人类并没有成为末世中灭绝的物种之一。但即便是万物灵长的人类，也不得不重新审视自然。 <br>
    <br>
    人们无法再同过去一样在平原上劳作，自然灾害和凶猛的怪兽随时会将农田掀个底，与此同时农民还要冒着被丧尸和怪兽袭击的风险。好在末日以前人们便已经开始研究都市农业和立体农业，不至于如此被动。 <br>
    <br>
    三叶草是一种广泛生长于水边和其他潮湿地带的植物，和土豆一样是一种块茎植物。我们所看到地表部分的三片绿叶不过是很小的一部分，真正的大头都埋在地下。 <br>
    <br>
    在末日之初，公园和绿化带中的三叶草帮助人们渡过了最为艰难的一段岁月。这些小家伙在末世后的环境里如鱼得水，非但没有走向灭绝，反而成为了长势极好的产粮作物。 <br>
    <br>
    对于上海这样水系繁多的地方，三叶草无疑是种植的极佳选择，但居民的食物来源仍有很大一部分需要依靠渔业。 <br>
    <br>
    在上海西边，太湖的面积扩大了数倍，依然成为一片波涛汹涌的内海。在提供大量水产品的同时，也蕴藏着危险。 <br>
    <br>
    曾经人畜无害的大闸蟹在末世后发生了变异，比起它们小巧可爱的祖先，它们无比巨大。单个成年个体的体重达到了十吨以上，蟹钳在水中闭合足以产生次声波震晕猎物，固若金汤的外壳能够防御炮击。它们现在是凶猛的肉食动物，人类亦在食谱之内。 <br>
    <br>
    大闸蟹的存在极大增加了渔民的危险，使得每一次捕捞行动都要冒生命的危险。然而渔船自古以来便难以进行有效的行政管辖，加之太湖之中的渔业利润丰厚，许多人宁愿铤而走险。</p>
    <h1 id="%E7%BA%BA%E7%BB%87">纺织</h1>
    <p>纺织是除农业以外又一大极其重要的产业，所谓衣食住行，穿衣服的需求甚至排在吃饭之前。然而纺织所生产的不仅仅是衣物，还有绷带、渔网、绳索以及一系列生产生活所需。<br>
    <br>
    黑寡妇的蛛丝极其坚韧，甚至能捕食鸟类，然而蜘蛛所能生产的蛛丝蛋白有限，无法像蚕丝那样大量使用。<br>
    <br>
    在转基因技术出现以前是这样的。 <br>
    <br>
    在末日之前，科学家们便利用转基因技术将产生蛛丝蛋白的基因片段嫁接到哺乳类动物身上。使牛羊产出的奶不再是奶，而是黑寡妇的蛛丝，他们将其称为【生物钢】。这种材料最初用于军事用途，可以用来制作防弹衣。 <br>
    <br>
    在末日之初，实验室中的生物逃脱出来，进入自然界。这些生物很快就被军阀们所发现，并很快投入养殖。 <br>
    <br>
    在世界末日之后不到半年时间里，上海的军阀们便掌握了生产生物钢织物的技术，这就是上海速度！ <br>
    <br>
    生物钢能够满足生产工具和军事上的需求，却无法用来生产绷带、衣物等。在末世后的环境下，伤口未经处理造成的感染相当致命。而诸如上海这样的据点又无法产出棉花，这便需要依赖现代化学了。</p>
    <h1 id="%E5%8C%96%E5%B7%A5">化工</h1>
    <p>化工是又一十分重要的产业，不仅仅是化肥和各种合成材料，还包括重要的军事用途。 <br>
    <br>
    对于军阀们来说，酒精的重要性往往更甚于粮食。在没有煤和石油的情况下，酒精是重要的原料和燃剂。弹药的制作需要酒精，伤口消毒需要酒精，机械师使用酒精喷灯亦需要酒精。一些军阀因为酒精高额的利润甚至不惜冒让市民饿死的风险。 <br>
    <br>
    末世之中的化工是效率低下的，缺乏足够的能源供应，电解手段便无法广泛应用，很多生产方法倒退回了维多利亚时代。 <br>
    <br>
    毕竟二十世纪的余晖仍照耀着废土，不至于完全回到过往的黑暗时代，生物催化广泛用于废土化工，使二十一世纪真正成为了生物学的世纪。</p>
    <h1 id="%E5%86%B6%E7%82%BC">冶炼</h1>
    <p>机械生产和武器制造都离不开金属，可是没有足够的煤炭，又没有能源，冶炼变得极为困难。熔炉旧的金属制品产出新的，质量却远远不如过去，这样的现象时有发生。工程师们往往不得不使用工程学方法来弥补材料上的不足，好在末世里的工程师足够强力，能够想出很多天才的设计，某种程度上克服了材料上的缺陷。 <br>
    <br>
    由于锅炉达不到足够的高温，电解手段又难以为继，末世后的冶金产物多是坚固却难以耐受高温的合金。因此热兵器的生产很成问题，枪管的铸造变得异常困难。</p>
    <h1 id="%E6%9C%BA%E6%A2%B0">机械</h1>
    <p>由于能源短缺，开发矿产又过于困难，以往依赖于大机器生产的工业体系难以为继。工程师们不得不发挥主观能动性，使简单劳动又变成了复杂劳动。 <br>
    <br>
    因为大工业生产而消亡的工匠和行会又重出江湖，生成工序变得更加复杂。不仅仅是机械制造，其他行业也增加了工具的使用，这又进一步催生了对机械的需求。 <br>
    <br>
    一种全新的职业正应运而生，他们是工程师，却又兼顾工人的职能。他们是工人，却又比工人需要更多的知识。这是一种名为【机械师】的职业，也是这一特殊时代背景下的产物。</p>
    <h1 id="%E8%B4%B8%E6%98%93">贸易</h1>
    <p>没有任何一个社区、一个据点能够拥有完善的工业体系，没有任何一个地方的生产能够满足所有的需要，因此贸易是不可避免的必然结果。 <br>
    <br>
    上海的军阀之间也有贸易，上海和其他幸存者据点之间也有贸易。幸存者据点分散在各个大城市，相互之间并不接壤，这或许是人类有史以来最为和平的一段时间。 <br>
    <br>
    以物易物满足不了庞大的贸易需求，真金白银数量又过于稀少，纸币没有国家信用担保，故而末世之后的货币体系变的非常微妙。 <br>
    <br>
    有的地方一开始用瓶盖作为货币，可是别的地方并不承认瓶盖作为一般等价物的地位。有的地方用弹壳作为货币，可是别的地方并不承认。真金白银在任何时候任何地方都是被承认的货币，但它们数量过于稀少，往往只有大宗交易才会用到。 <br>
    <br>
    最好的做法自然是像洪宪皇帝那样大量铸造袁大头，然而废土上没有任何一家军阀拥有这样的实力。 <br>
    <br>
    这一现状直至复兴时代才逐渐改善。</p>