<ul>
    <li><a href="#%E5%8C%8D%E5%8C%90%E5%89%8D%E8%A1%8C%E7%9A%84%E7%A7%91%E5%AD%A6">匍匐前行的科学</a></li>
    <li><a href="#%E6%99%BA%E5%AD%90%E7%9A%84%E5%A2%99">智子的墙</a></li>
    <li><a href="#%E7%94%B5%E5%AD%90%E5%AD%A6">电子学</a></li>
    <li><a href="#%E5%B7%A5%E7%A8%8B%E5%AD%A6">工程学</a></li>
    <li><a href="#%E7%94%9F%E7%89%A9%E5%AD%A6">生物学</a></li>
    <li><a href="#%E5%BF%83%E7%90%86%E5%AD%A6">心理学</a></li>
    </ul>
    <h1 id="%E5%8C%8D%E5%8C%90%E5%89%8D%E8%A1%8C%E7%9A%84%E7%A7%91%E5%AD%A6">匍匐前行的科学</h1>
    <p>当人们提及中世纪时，常称之为【黑暗的中世纪】，因为比起之前的古典时代和之后的文艺复兴时代，中世纪这一千年来科学艺术几乎毫无建树。但这并不意味着中世纪的科学艺术完全陷入停滞，它只是慵懒地匍匐前进着。 <br>
    <br>
    后天启时代的科学亦是如此，末日并没有完全摧毁人类科学，让文明回到黑暗时代。但不可否认，过往的科学体系受到重创。末日之后的四百年来，许多领域陷入停滞，甚至不少学科的知识是倒退的。与此同时，亦有一些领域取得了前所未有的突破。</p>
    <h1 id="%E6%99%BA%E5%AD%90%E7%9A%84%E5%A2%99">智子的墙</h1>
    <p>在刘慈欣的科幻小说《三体》当中，质子通过干扰粒子对撞封锁了人类的基础物理学。而在【灯海】的世界当中，情况则更加糟糕，后天启时代的人类根本没有足够的资源和精力去建造大型粒子对撞机，现实的引力太沉重了。 <br>
    <br>
    无法进行实验的物理学家将精力投注到更加基础的数学研究上面，取得了许多以我们现如今的抽象思维无法想象的成果，数学上的进步为工程学的发展奠定了基础。</p>
    <h1 id="%E7%94%B5%E5%AD%90%E5%AD%A6">电子学</h1>
    <p>由于材料和工艺上的限制，末世后的人们无法制造大规模集成电路，亦无法制造规模庞大的大型计算机，结构简单耐用的小规模集成电路成为了主流。然而人的智慧无穷无尽，人们依靠这些简单的电路创造了许许多多的奇迹。</p>
    <h1 id="%E5%B7%A5%E7%A8%8B%E5%AD%A6">工程学</h1>
    <p>末日后这四百年涌现出了数不胜数的天才工程师和精巧的设计。大多数工程设计都是战争的需求催生出来的，机械师们将奇技淫巧发挥到了极致。 <br>
    <br>
    载具的稳定结构不断迭代，哪怕只剩下一个方向盘都能继续移动。穿戴羽翼的人不借助外部动力便可以飞行。垃圾堆砌的墙体能够防御数次炮击，不依靠大型钻头却能建造恢弘的地下城...</p>
    <h1 id="%E7%94%9F%E7%89%A9%E5%AD%A6">生物学</h1>
    <p>末世后的人们无力制造高精度显微镜和酶剪，分子生物学彻底宣告死刑。然而生存的需求却迫使人们用原始的方法改进生产，生物学更加依赖于对生物习性的观察，以及【心理学】。</p>
    <h1 id="%E5%BF%83%E7%90%86%E5%AD%A6">心理学</h1>
    <p>在末日以前，心理学一直是一门稚嫩的学科，许多理论都没能得到完善，然而时间终究会让它成长起来。 <br>
    <br>
    通过不断的观察研究，新的体系建立起来，一些过去的理论被证伪了，另一些得到实证。在某个阶段，这个领域迎来了质的变化。 <br>
    <br>
    随着心理动力学研究的深入，越来越多的迹象表明，心理动力不仅能影响个体内在的情绪和行为，它能直接作用于独立于人体的客观存在。 <br>
    <br>
    在过去，许多神秘主义者注意到了这一现象，并试图加以解释。然而却始终没有一个科学、完善的理论体系。直至末日过后一百多年，现代心理学才逐渐从古典心理学中脱胎，成为一门成熟的学科。 <br>
    <br>
    这一科学上的突破引起了政治经济上的剧变，甚至于直接影响了【大革命】。</p>